.BackGround{
    width: 100%;
    height: calc(100% - 150px);
    display: flex;
    flex-flow: column;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
}

.TextContent{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.AllButton{
    width: 550px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Text1{
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    color: #37467C;
    font-family: Abhaya Libre;
    width: 740px;
}
.Text2{
    text-align: center;
    width: 500px;
    font-size: 19px;
    color: #37467C;
    font-family: Abhaya Libre;
}

.DText1{
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    color: #D7DEF6;
    font-family: Abhaya Libre;
    width: 740px;
}
.DText2{
    text-align: center;
    width: 500px;
    font-size: 19px;
    color: #D7DEF6;
    font-family: Abhaya Libre;
}

@media screen and (max-width: 667px)
{
    .content{
        margin-top: 150px;
    }
    .Text1{
        width: 400px;
        font-size: 30px;
    }
    .Text2{
        width: 400px;
    }
    .DText1{
        width: 400px;
        font-size: 30px;
    }
    .DText2{
        width: 400px;
    }
    .AllButton{
        width: 400px;
    }
}

@media screen and (max-width: 408px)
{
    .content{
        margin-top: 0px;
    }
    .Text1{
        width: 400px;
        font-size: 30px;
    }
    .Text2{
        width: 400px;
    }
    .DText1{
        width: 300px;
        font-size: 30px;
    }
    .DText2{
        width: 300px;
    }
    .AllButton{
        width: 320px;
    }
}